body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../images/background3.jpg);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.logo {
    max-width: 100px;
}

.menu {
    text-align: right;
    padding-right: 10%;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline-block;
    margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.about {
    padding: 20px;
}

.about h1 {
    color: #333;
}
#text1{
    font-family: 'Exo 2', sans-serif;
    padding-left: 10%;
    padding-right: 10%;
}
#text2{
    font-family: 'Exo 2', sans-serif;
    padding-left: 10%;
    padding-right: 10%;
}
#text3{
    font-family: 'Exo 2', sans-serif;
    padding-left: 10%;
    padding-right: 10%;
}
#text4{
    font-family: 'Exo 2', sans-serif;
    padding-left: 10%;
    padding-right: 10%;
}
#text5{
    font-family: 'Exo 2', sans-serif;
    padding-left: 10%;
    padding-right: 10%;
}
#text6{
    font-family: 'Exo 2', sans-serif; 
    padding-left: 10%;
    padding-right: 10%;
}
#heading1{
    font-family: 'Merriweather Sans', sans-serif;
    padding-left: 43%;
}
#heading2{
    font-family: 'Merriweather Sans', sans-serif;
    padding-left: 43%;
}
 